.periodDetails {
  margin-top: 20px;
  max-width: 300px;
  border-style: solid;
}

.periodDescription {
  padding: 10px;
}

button.active{
    background:green;
}

.positive {
  color: green;
}

.negative {
  color: red
}

